

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>e-Dokyumento</title>
  <meta name="description" content="Pinoy Document Management System">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="apple-touch-icon" href="/logo2.png">
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendors/themify-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/vendors/selectFX/css/cs-skin-elastic.css">
  <link rel="stylesheet" href="/vendors/jqvmap/dist/jqvmap.min.css">
  <link rel="stylesheet" href="/vendors/bootstrap/dist/css/select2.css">

  <link rel="stylesheet" href="/assets/css/style.css">

  <link href='/vendors/bootstrap/dist/css/font.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/vendors/chosen/chosen.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/vendors/bootstrap/dist/css/side.css">
  <link href="/vendors/bootstrap/dist/css/file-explore.css" rel="stylesheet" type="text/css">
  <link href="/vendors/bootstrap/dist/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <link href="/vendors/bootstrap/dist/css/newPDF.css" rel="stylesheet" type="text/css">
  <link href="/vendors/bootstrap/dist/css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/vendors/datatables.net-bs4/css/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">

  <script type="text/javascript" src="/assets/hashes.js"></script>

</head>

<body>

<div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table">
                                    <thead>
                                        <tr style="display:none;" >
                                            <th > Monitoring of Office Document Communication </th>

                                        </tr>
                                    </thead>
                                    <tbody id="tableCanvas">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


<!-- needed -->
  <div class=" float-left"><input value= "<%= path %>" type="hidden" id="disPath"  name="disPath"></div>
  <script src="/assets/js/jquery.213.min.js"></script>
  <script src="/assets/js/pdfobject.min.js"></script>
  <div id="pdf_view"></div>
  <button style="margin-top:-15px; display:none;" id="butFileopen" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#largeModal">Add File</button>
 <!-- .needed -->

<script src="/vendors/chart.js/dist/hammer.js"></script>
 <script src="/vendors/chart.js/dist/Chart.bundle.js"></script>
 <script src="/vendors/chart.js/dist/zoom.js"></script>
 <script src="/vendors/chart.js/dist/utils.js"></script>

 <script src="/vendors/datatables.net/js/jquery.chartTables.js"></script>
  <script src="/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
  <script src="/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/vendors/pdfmake/build/vfs_fonts.js"></script>
  <script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>


 <script src="/assets/chartmonitor.js"></script>

 <script src="/vendors/jquery/dist/jquery.min.js"></script>
 <script src="/vendors/popper.js/dist/umd/popper.min.js"></script>
 <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
 <script src="/assets/js/main.js"></script>

 <script src="/vendors/bootstrap/dist/js/select2.min.js"></script>
 <script type="text/javascript" src="/assets/js/adapter.min.js"></script>
 <script type="text/javascript" src="/assets/js/vue.min.js"></script>
 <script type="text/javascript" src="/assets/js/instascan.min.js"></script>

 <script src="/vendors/bootstrap/dist/js/pdf.min.js"></script>
 <script src="/vendors/bootstrap/dist/js/pdf.worker.min.js"></script>
 <script src="/vendors/bootstrap/dist/js/file-explore.js"></script>
 <script src="/vendors/bootstrap/dist/js/side.js"></script>
 <script src="/vendors/bootstrap/dist/js/bootstrap-toggle.min.js"></script>
 <script src="/assets/js/dashboard.js"></script>
 <script src="/assets/cookie.js"></script>
 <script src="/assets/modaldoc.js"></script>
 <script src="/assets/common.js"></script>
 <script src="/assets/routeclas.js"></script>

 <script src="/vendors/chosen/chosen.jquery.min.js"></script>
 <script type="text/javascript" src="/assets/app.js"></script>


</body>

</html>
