
<link rel="stylesheet" href="/assets/css/premium.css">


<script src="/assets/js/tinymce/tinymce.min.js" ></script>
<script src="/assets/js/tinymce/jquery-3.1.1.min.js" ></script>

<script src="/assets/js/premium.js"></script>




<div id="editPaperWindow" style="display:none; position:absolute; z-index:100; background:#fff; color:#000; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 2px solid #ADADAD; width:400px; padding:6px; -webkit-box-shadow: 7px 7px 12px 0px rgba(168,168,168,0.37); -moz-box-shadow: 7px 7px 12px 0px rgba(168,168,168,0.37); box-shadow: 7px 7px 12px 0px rgba(168,168,168,0.37);"></div>
	<textarea id="editor" rows="35" cols="86">
     The quick brown fox


</textarea>
