
<div class=" float-left"><input value= "<%= path %>" type="hidden" id="disPath"  name="disPath"></div>
<div class=" float-left"><input type="hidden" id="disLevel" ></div>
<div class="wrapper">
        <!-- content -->
          <script src="/assets/js/jquery.213.min.js"></script>
          <script src="/assets/js/pdfobject.min.js"></script>
          <style>
             .pdfobject-container { height: 600px;}
             .pdfobject { border: 1px solid #666; }
          </style>
          <div class="content mt-3">
              <div class="col-sm-12">
                 <div id="pdf_view"></div>
              </div>
          </div>

        <script type="text/javascript">
          $(document).ready(function(){
            <% if (disp!= 'empty'){%>
              PDFObject.embed("<%= path %>", "#pdf_view");
            <% }else { %>
              PDFObject.embed("/drive/No Pending Files.pdf", "#pdf_view");
            <% } %>
          });
        </script>
        <!-- /content -->
        <!-- Digital Signature Floating -->
        <% if (signres!=[]) { %>
          <div id='disDigCert' class="digicert" style='<% if (signres.message!='signed') {%>display:none;<%}%>border:1;background-color:Gray;border-radius:6px;width:200px;height:40px;padding-left:10px;padding-top:4px;'>
            <% if (signres.verified) { %>
            <button  id="digcertDraw" class="btn btn-sm btn-success" type="button" >
              <i class="fa fa-check"></i> Valid Digital Signature
            </button>&nbsp;
            <% } else {%>
              <button  id="digcertDraw" class="btn btn-sm btn-danger" type="button" >
                <i class="fa fa-times"></i> Invalid Digital Signature
              </button>&nbsp;
            <% } %>
          </div>
        <% } %>

        <!-- /Digital Signature FLoating -->
</div><!-- ./wrapper -->
