    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="/images/logolarge.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form name="formlogin" id="formlogin" action="/" method="post">
                        <div class="form-group">
                            <label>User Name</label>
                            <input type="text" id="username" name="username" class="form-control" placeholder="User Name">
                        </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                        </div>
                                <div class="checkbox">
                                    <label>
                                <input type="checkbox"> Remember Me
                            </label>
                                </div>
                                <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>

                    </form>
                </div>
                 <br>
                 <% if (error=="wrongPass") { %>
                  <div id="alert" class="alert alert-danger" style="display: block; text-align:center;" role="alert"> Incorrect Password!
                <% } else if (error=="wrongUser") { %>
                  <div id="alert" class="alert alert-danger" style="display: block; text-align:center;" role="alert"> Invalid User!
                <% } else  { %>
                  <div id="alert" class="alert alert-danger" style="display: none; text-align:center;" role="alert"> Good!

                <% } %>
                </div>

            </div>
        </div>
    </div>
