<script src="/assets/js/jquery.213.min.js"></script>
<script src="/assets/js/pdfobject.min.js"></script>

<div class="wrapper">
  <!-- content -->
  <div class=" float-left"><input value= "<%= path %>" type="hidden" id="disPath"  name="disPath"></div>
  <div id="disFrame" style="display:none;">
    <iframe id="canvasPDF"
    name="canvasPDF"
    style="margin-left:20px;height:560px;width:950px;"
    src="/assets/signcanvas.html">
  </iframe>
</div>
<div id="disContent">
  <style>
    .pdfobject-container { height: 600px;}
    .pdfobject { border: 1px solid #666; }
  </style>
  <div class="content mt-3">

    <div class="col-sm-12">
      <div id="pdf_view"></div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      <% if (disp!= 'empty'){%>
        PDFObject.embed("<%= path %>", "#pdf_view");
        <% }else { %>
          PDFObject.embed("/drive/No Pending Files.pdf", "#pdf_view");
          <% } %>
        });
      </script>
    </div>
    <!-- /content -->
  </div><!-- ./wrapper -->
  <!-- Digital Signature Floating -->
  <div id='disDigCert' class="digicert" style='display:none;border:1;background-color:Gray;border-radius:6px;width:200px;height:40px;padding-left:10px;padding-top:4px;'>
    <button  id="digcertDraw" class="btn btn-sm btn-danger" type="button" onclick="displaycertinfo()" >
      <i class="fa fa-times"></i> Invalid Digital Signature
    </button>&nbsp;
  </div>
  <!-- /Digital Signature FLoating -->
  <button style="margin-top:-15px; display:none;" id="butFileopen" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#largeModal">Add File</button>

  <script src="/assets/openfile.js"></script
