<script src="/assets/js/jquery.213.min.js"></script>

<div class="wrapper">
  <!-- content -->
  <div class="row col-md-12 form-group">
    <div class="col-md-6 offset-md-3">
      <div class="input-group">
        <input type="text" id="inputSearch" placeholder="search here" class="form-control">
        <div class="input-group-btn">
          &nbsp;<button id='butSearch' class="btn btn-primary">
            <i class="fa fa-search"></i> Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-10 offset-md-1">
      <table id='tableSearch'>

      </table>
      <div class='col-md-9' id='pageLbl' style='display:none;'>
        Page 0
      </div>
      <div id='divButBackNext' style='display:none;' class="col-md-3 float-right input-group-btn">
        <button id='butBack' class="btn btn-primary">
          <i class="fa fa-chevron-left"></i> Back
        </button>
        <button id='butNext' class="btn btn-primary">
          Next &nbsp;<i class="fa fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- /content -->
</div><!-- ./wrapper -->

<script src="/assets/searchdoc.js"></script
