<div class="col-md-3">
  <div class="card rounded-top">
    <div class="card-header text-white bg-danger pt-1 pl-0 pb-2">
      <h6 style="font-size:14px;" class="col-12">Custom Search</h6>
    </div>
    <div class="card-body" style="border:2px solid indianred;">
      <div class="col-md-12 pl-0 pr-0">
        <div class="card  text-white bg-info mb-3 pt-1  rounded-top">
          <div class="card-header pt-0 pl-0 pb-1">
            <h6 style="font-size:14px;" class="col-12">Search at folder:</h6>
          </div>
          <div class="card-body  p-1" style="background-color:azure;border: 1px solid darkcyan;">
            <a href="/searchadv"> <i style="color:gold;" class="fa fa-folder-open"></i> root </a>
            <ul class="file-tree">
              <div id="disFolderTree" class='driveList col-12' style="overflow:scroll;left:-20px;height:210px;white-space:nowrap;">
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 ">
        <div class="col-12">
          <div class="col-sm-3" style="left:-50px;"><label class="col-form-label-sm">Filename</label></div>
          <div class="col-sm-9"><input style="width:170px;" type="text" id="selCusFilename" class="input-sm form-control-sm form-control"></div>
        </div>
        <div class="col-12">
          <div class="col-sm-3" style="left:-50px;"><label class="col-form-label-sm">Date&nbsp;Modified</label></div>
          <div class="col-sm-9 demo">
              <input style="width:170px;font-size:13px;" type="text" id="datepick" name="datepick" value='' class="form-control">
              <script src="/assets/datepick.js"></script>
          </div>
        </div>
        <div class="col-12">
          <div class="col-sm-3" style="left:-50px;"><label class="col-form-label-sm">Classification</label></div>
          <div class="col-sm-9 float-left" id='selCusDiv'">
            <select id="selCusClas" style="font-size:14px;width:170px;" name="selClas" data-placeholder="Select Classification" class="standardSelect" >
              <option></option>
              <% for (var i=0; i < docClass.length; i++){ %>
                <option><%= docClass[i] %></option>
                <% } %>
            </select>
          </div>
        </div>
        <div class="col-12">
          <div class="col-sm-3" style="left:-50px;"><label class="col-form-label-sm">Tags</label></div>
          <div class="col-sm-9 float-left" id='divCusTag' ">
            <select id="selCusTag" style="font-size:14px;width:170px;" data-placeholder="Select Tag" class="standardSelect" name="selTag">
              <option></option>
              <% for (var i=0; i < docTag.length; i++){ %>
                <option><%= docTag[i] %></option>
                <% } %>
              </select>
            </div>
        </div>


        <div class="col-12">
          <div class="col-sm-3" style="left:-50px;"><label class="col-form-label-sm">Size </label></div>
          <div class="col-sm-9"><input style="width:170px;" placeholder='> 0mb' type="text" id="selCusSize" class="input-sm form-control-sm form-control"></div>
        </div>
        <div class="col-12">
          <div class="col-sm-3" style="left:-50px;"><label class="col-form-label-sm">Author</label></div>
          <div class="col-sm-9"><input style="width:170px;" type="text" id="selCusAuthor" class="input-sm form-control-sm form-control"></div>
        </div>
        <div class="col-12">
          <div class="col-sm-3" style="left:-50px;"><label class="col-form-label-sm">Content</label></div>
          <div class="col-sm-9"><input disabled style="width:170px;" type="text" id="selCusCont" class="input-sm form-control-sm form-control"></div>
        </div>
        <div class="col-12 pr-0">
          <button  id="butCustSearch" type="button" class="btn btn-primary btn-sm float-right"><i class="fa fa-search"></i>&nbsp; Search</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="col-md-9">
  <div class="col-md-12">
    <div class="card text-white bg-primary mb-3 rounded-top ">
      <div class="card-header pt-1 pl-0 pb-2">
        <div class="col-1"><h6 style="font-size:14px;">Open</h6></div>
        <div class="col-6"><h6 style="font-size:14px;">Files</h6></div>
        <div class="col-5"><h6 style="font-size:14px;">Path</h6></div>
      </div>
      <div class="card-body p-1" style="background-color:whitesmoke;border: 1px solid blue;">
        <ul class="file-tree">
          <div id="disFileTree" class='col-12' style="height:290px;overflow:scroll;white-space:nowrap;">
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <link rel="stylesheet" href="/vendors/font-awesome-4.7/css/font-awesome.min.css">

    <script src="/assets/js/jquery.213.min.js"></script>
    <script src="/assets/js/pdfobject.min.js"></script>
    <style>
      .pdfobject-container {
        height: 300px;
      }

      .pdfobject {
        border: 0px solid #666;
      }
    </style>
    <div style="height:320px;" id="pdf_view"></div>

    <script type="text/javascript">
      $(document).ready(function() {
        <% if (disp != 'empty') { %>
          PDFObject.embed("<%= path %>", "#pdf_view"); <%
        } else { %>
          PDFObject.embed("/drive/No Pending Files.pdf", "#pdf_view"); <%
        } %>
      });
    </script>

    <!--  For Mobile-->
    <div style="width:100%;" id="disContentMobile" style="display:none;">
      <canvas style="width:100%;" id='canvasPDFMobile'></canvas>
    </div>
  </div>
</div>

<!-- Mobile Friendly -->
<script>
  if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
    if (window.matchMedia("(orientation: portrait)").matches) {
      document.getElementById('disDropmenuMobile').style.marginLeft = '0px';
      document.getElementById('disDropmenuMobile').style.marginTop = '70px';
      document.getElementById('disDropRoutemenuMobile').style.marginLeft = '0px';
      document.getElementById('disDropRoutemenuMobile').style.marginTop = '100px';
    } else {}
  } else {
    document.getElementById('disContentMobile').style.display = "none";
  }
</script>
<!-- /Mobile Friendly -->

<script src="/assets/searchadv.js"></script>
