<script src="/assets/js/jquery.213.min.js"></script>
<script src="/assets/js/pdfobject.min.js"></script>


<div class="wrapper">  <!-- content -->

          <div class=" float-left"><input value= "<%= path %>" type="hidden" id="disPath"  name="disPath"></div>
       <iframe 
           name="canvasPDF"
           style="margin-left:20px;height:560px;width:950px;"
           src="/assets/signcanvas.html">
         </iframe>
</div><!-- /content -->
<script src="/assets/signpdf.js"></script>
