<link rel="stylesheet" href="/vendors/font-awesome-4.7/css/font-awesome.min.css">
<script src="/assets/js/jquery.213.min.js"></script>
<script src="/assets/js/pdfobject.min.js"></script>
<link rel="stylesheet" href="/vendors/kanban/jkanban.css" />

<div class="col-md-12">
  <div id="myKanban"></div>
</div>


<!-- needed -->
  <div class=" float-left"><input value= "<%= branch %>" type="hidden" id="disBranch" onclick="routedistobranch(document.getElementById('disBranch').value)" name="disBranch" href="#" data-toggle="modal" data-target="#routingModal"></div>
<!-- .needed -->
<script type="text/javascript" src="vendors/kanban/jkanban.js"></script>
<script type="text/javascript" src="/assets/taskboard.js"></script>
