<button style="margin-top:10px; position: absolute; right: 0;" type="button" class="btn btn-primary btn-flat " onclick="location.href='/'">Back to Login page</button>

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="/images/logolarge.png" alt="">
                    </a>
                </div>
                <div style="height:420px;width:660px;" class="login-form">
                  <div style="background:#263238;  align-items: stretch;justify-content:stretch;height:100%;" class='col-lg-12' id="app">
                    <div class="preview-container" style="align-items:center;justify-content: center;">
                      <video style="margin-left:-15px;margin-top:-5px;width:600px;" id="preview"></video>
                    </div>
                  </div>
                </div>
                 <br>
                 <div id="alert">
                   <div class="alert alert-secondary" style="left:-100px;width:860px;text-align:center;" role="alert"> Scan QR Code of the Document <br> Note: This validates the existence of the document in the e-Dokyumento and not the authenticity of the signature. </div>
                 </div>
            </div>
        </div>
    </div>
    <audio  src="/images/noti.wav" type="audio/mpeg" id="soundNoti" autostart="false"></audio>

    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/adapter.min.js"></script>
    <script type="text/javascript" src="/assets/js/vue.min.js"></script>
    <script type="text/javascript" src="/assets/js/instascan.min.js"></script>
    <script src="/assets/verifydoc.js"></script>
